.main{
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .Buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 9px;
    font-size: 18px;
    font-weight: bold;
    padding: 30px;
    border-radius: 15px;
    #bigButtons1{
      grid-column-start: 1;
      grid-column-end: 3;
    }
    #bigButtons2{
      grid-column-start: 3;
      grid-column-end: 5;
    }
  }
  
  .Result{
    margin-bottom: 15px;
    padding: 20px 20px;
    text-align: right;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 600;
  }
  
}

