.top{
  display:flex;
  align-items:flex-end;
  justify-content: space-between;

  .calc{
    justify-self: flex-start;
    font-size: 32px;
  }

  div{
    padding-right: 5px;

    h3{
      font-size: 13px;
      margin-bottom: 0;
    }

    display:flex;
    justify-content: space-evenly;
    align-items:flex-end; 
    gap: 10%;
  }
}